%h3 Welcome to Scio Forum
%p
%br
%h4.center-text
  - if user_signed_in?
    - if current_user.admin?
      = link_to 'Total registered users: ', users_path
    - else
      Total registered users: 
    = User.count
  - else
    = link_to 'Sign in', new_user_session_path
    \ to access content
